@model IEnumerable<advanced_programming_2_server_side_exercise.Models.Review>

@{
	ViewData["Title"] = "Index";
}

<div style="background-color:aliceblue;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto;
	padding-top: 5vh">

	<h1>Index</h1>
	<h2>Average Score: @ViewBag.AverageScore.ToString()</h2>
	<p>
	<p style="/* align-items: center; */align-self: center;">
		<button class="btn btn-lg btn-primary btn-grad" style="text-transform: uppercase;
			transition: 0.5s;
			background-size: 200% auto;
			color: white;
			box-shadow: 0 0 20px #eee;
			border-radius: 10px;
			display: block;
			height: 100%;
			font-size: 2.8vh;background-image: linear-gradient(to bottom, #3a7bd5 5%,#00d2ff 100%);align-self: center;margin-left: 42%;">
			<a href="/Reviews/Create" style="text-decoration:none; color:white">Create New</a>
		</button>
	</p>
	<table class="table">
		<thead>
			<tr>
				<th>
						@Html.DisplayNameFor(model => model.Score)
				</th>
				<th>
						@Html.DisplayNameFor(model => model.Feedback)
				</th>
				<th>
						@Html.DisplayNameFor(model => model.Name)
				</th>
				<th>
						@Html.DisplayNameFor(model => model.DateTime)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
				@foreach (var item in Model)
				{
				<tr>
					<td>
							@Html.DisplayFor(modelItem => item.Score)
					</td>
					<td>
							@Html.DisplayFor(modelItem => item.Feedback)
					</td>
					<td>
							@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
							@Html.DisplayFor(modelItem => item.DateTime)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
						<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
				}
		</tbody>
	</table>
</div>